.component-container[data-component="GameInfoLayer"] {
    .game-info-layer {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        .game-info-layer-content {
            background-color: #3f3f3f;
            border-radius: 15px;
            border: 2px solid #fff;
            max-height: ~"calc(100vh - 210px)";
            min-height: 200px;
            height: 100vh;
            max-width: 870px;
            min-width: 280px;
            width: ~"calc(100% - 90px)";
            padding: 10px;
        }
    }
}

@import "./contents/_helpComponent.less";
@import "./contents/_loseComponent.less";
@import "./contents/_winComponent.less";