@import (css) url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

//TODO általános formázásokat kiemelni, ha meglesz a végleges design

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

* {
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 100vh;
}

.main-body-hidder {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(99, 99, 99, 0.2);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 1px solid #e0e0e0;
    background-color: transparent;
    padding: 5px 10px;
    cursor: pointer;

    &.btn-primary {
        background-color: #e8e8e8;
    }
}

@import "./layouts/authorizationLayout.less";
@import "./layouts/gameLayout.less";
@import "./layouts/simplePageLayout.less";

@import "./pages/loginPage.less";

@import "./pages/gamePage.less";

@import "./pages/settingsPage.less";
@import "./pages/shopPage.less";

@import "./components/modals/modalsComponent_common.less";

@import "./components/gamerBlockComponent.less";
@import "./components/game_info_layer/gameInfoLayerComponent.less";

@import "./components/menuComponent.less";
@import "./components/loaderComponent.less";