.component-container[data-component="Loader"] {
    > div {
        background: #003742;
        background: linear-gradient(-45deg, rgba(0, 55, 66, 0.95), rgba(0, 118, 142, 0.7), rgba(0, 55, 66, 0.95));
        background-size: 400% 400%;
        background-position: 100% 100%;
        border-radius: 100%;
        width: 165px;
        height: 165px;
        animation: gradientBG 10s ease infinite;
        position: relative;
    }

    @keyframes gradientBG {
        0% {
            background-position: 100% 100%;
        }
        50% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 100% 100%;
        }
    }

    .loader-loading-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        pointer-events: none;
        text-align: center;
        line-height: 1.2;
    }
}