.main-container[data-layout="SimplePageLayout"] {
    width: 100%;

    .square {
        width: 0;
        height: 0;
        background-color: #00abcd;
        border-top: .75em solid #00abcd;
        border-bottom: .75em solid #00abcd;
        border-left: .75em solid #00abcd;
        border-right: .75em solid #00abcd;
        transform: skew(-15deg);
    }

    .title {
        font-weight: 700;
        font-size: 2em;
        margin-left: .75em;
    }

    .page-title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        font-style: italic;
        margin-bottom: 1em;
    }

    > div {
        max-width: 1200px;
        min-width: 280px;
        width: ~"calc(100% - 40px)";
        margin: 0 auto;
    }

    header {
        padding: 15px 0px;

        .logo-container {
            width: 280px;
    
            img {
                width: 100%;
            }
        }

        .page-menu-list {
            list-style: none;
            padding: 0;
            display: flex;

            .page-menu-list-item {
                background-color: #00b19f;
                color: #fff;
                border: 2px solid;
                flex: 1;
                text-align: center;
                margin-right: 15px;
                text-transform: uppercase;
                font-size: 18px;

                transition: background-color .3s linear, color .3s linear;

                &:hover {
                    background-color: #fff;
                    color: #00b19f;
                }

                &:last-of-type {
                    margin-right: 0px;
                }

                a {
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    color: inherit;
                    display: block;
                }
            }
        }
    }
}